/* HomeA.css */
/* Common styles for all screen sizes */

/* Mobile-specific styles */
@media (max-width: 768px) {
    .nav-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px; /* Add spacing at the top */
    }
  
    .reservationbtn {
      background-color: #007BFF;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      margin: 10px;
      border-radius: 5px;
      font-size: 16px;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 80%;
      max-width: 200px; /* Limit button width */
    }
  
    .reservationbtn:hover {
      background-color: #0056b3; /* Darker shade on hover */
    }
  }
  