
  
  /*---------------------------Table-----------------------------*/
  .Dtable {
    border-collapse: collapse;
    width: 100%; /* Make the table take up 100% of its container's width */
  }
  
  .Dtable th,
  .Dtable td {
    border: 1px solid #ddd;

  }
  .Dtable th {
    background-color: #f2f2f2;
  }
  
  .Dtable tr:nth-child(even) {
    background-color: #b8b8b828;    
  }
/* Change the width and center text in the first column */
.Dtable th:nth-child(1),
.Dtable td:nth-child(1) {
    width: 300px; /* Adjust the width as needed */
    text-align: center; /* Center text horizontally */
}

/* Change the width of the "Actions" column (sixth column) */
.Dtable th:nth-child(3),
.Dtable td:nth-child(3) {
  width: 320px; /* Adjust the width as needed */
  height: 60px;

}
.fixed-headerD {
    position: sticky;
    top: 0px; /* Stick the header to the top of the container */
    background-color: #fff; /* Add a background color for the header */
    z-index: 1; /* Ensure the header appears above the table content */
  }
.Dtable{
  text-align: center;
}