* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/*-------------------------BG Template--------------------------*/
.header-rectangle {          
  position: relative;
  background-color: #002147;
  width: 100%;
  height: 111px;
  
}
.logo {
  width: 500px;
  position: absolute;
  top: -57px; /* Adjust this value to control the vertical position */
  left: 0px; /* Adjust this value to control the horizontal position */
}
.help{         /*---help img---*/
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: -15px;
  z-index: 1;
  cursor: pointer;
}

/*--------------------------------------------------------*/
p {               /*------------space between details of tile------------*/
    margin: 0;
    padding: 0;
  }

  .notification-container {
    position: relative;
    overflow: hidden;
  }
  
  .notification-panel {       /*-----------tile styles------------*/
    background: linear-gradient(rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;
    width: 1200px; /* Adjust the width as needed */
    position: absolute;
    top: 135px;
    bottom: 20px;
    right: 20px;
    transition: background 0.5s, transform 0.5s;
    overflow-y: auto; /* Add scrollbar when content overflows */
  }
  
  .notification-panel:hover {   /*-----------hover effect of tile styles------------*/
    transform: translateY(-5px);
  }
  
/*---------navigation buttons---------*/
.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  margin-left: 35px;
}

.requestsbtn,
.vehiclesbtn,
.driverbtn,
.assignbtn,
.reservationbtn {
  position: relative; /* Add this line to set the parent element to relative positioning */
  text-decoration: none;
  text-align: center;
  background: #FF8811;
  color: #000000;
  border: none;
  width: 250px;
  height: 75px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin: 20px 0;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 540;
}

.requestsbtn .badge {
  position: absolute;
  top: -8px;
  right: -2px;
  background-color: #FF0000;
  color: #FFFFFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

/* Hover styles */
.requestsbtn:hover,
.vehiclesbtn:hover,
.driverbtn:hover,
.assignbtn:hover,
.reservationbtn:hover {
  background: #FF8811;
  color: #fff;
  transform: translateY(-5px);
}

/*-------------logout button------------*/
.logoutbtn {
  background: #FF8811; /* Button background color */
  color: #000000; /* Text color */
  border: none;
  padding: 10px 30px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  position: fixed;
  top: 35px; /* Adjust the top position as needed */
  right: 40px; /* Adjust the right position as needed */
  z-index: 1;
}


.logoutbtn:hover {
  background: #FF8811; /* Button background color on hover */
  color: #fff; /* Text color on hover */
}
h2{
  font-weight: 600;
}


.settingbtn {
  background: #d65656; /* Button background color */
  color: #000000; /* Text color */
  border: none;
  padding: 10px 30px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  position: fixed;
  top: 35px; /* Adjust the top position as needed */
  right: 260px; /* Adjust the right position as needed */
  z-index: 1;
}


.settingbtn:hover {
  background: #FF8811; /* Button background color on hover */
  color: #fff; /* Text color on hover */
}
h2{
  font-weight: 600;
}