/* Mobile-specific styles */

.main-container {
  display: flex;
  flex-direction: row; /* Keep the default row direction */
  align-items: flex-start;
  margin-top: 20px; /* Add spacing at the top */
}

.button-panel {
  padding: 10px;
  width: 20%; /* Adjust the width of the button panel as needed */
  box-sizing: border-box; /* Include padding in width */
}

.button-panel button {
  background-color: #FF8811;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%; /* Occupy full width of the button panel */
}

.button-panel button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Map panel */
.map-panel {
  width: 80%; /* Adjust the width of the map panel as needed */
}

/*-----------notification background-----------*/
.map-panel {
  text-align: left;
  font-family: Arial, sans-serif;
  border-radius: 15px;
  height: 550px;
  width: 100%; /* Occupy full width */
  margin-top: 20px; /* Add spacing at the top */
  margin-left: 20px; 
  margin-right: 20px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.notification-panel4:hover {
  transition: transform 0.2s ease; /* Add a separate transition for transform */
  transform: scale(1.01); /* Add a scaling effect on hover */
  background-color: #ffffff;
}
