.Requestbtn, .Editbtn{
    text-decoration: none;
    text-align: center;
    background: #FF8811; /* Button background color */
    color: #000000; /* Text color */
    border: none;
    width: 200px; /* Fixed width for all buttons */
    height: 90px; /* Fixed height for all buttons */
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin: 20px -10px; /* Adjust margin for vertical spacing between buttons */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
    /* Center text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    font-size: 16px;
}
.Requestbtn:hover, 
.Editbtn:hover {
  background: #FF8811; /* Button background color on hover */
  color: #fff; /* Text color on hover */
  transform: translateY(-5px);
}

.SAddbtn{
    background: #FF8811; /* Button background color */
    color: #000000; /* Text color */
    border: 0.5px solid #ccc;
    padding: 10px 30px; /* Adjust padding as needed */
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    position: relative;
    width: 350px;
    top: 38px; /* Adjust the top position as needed */
    z-index: 1;

}
.SAddbtn:hover {   /*-----------hover effect of tile styles------------*/
  background: #FF8811; /* Button background color on hover */
  color: #fff; /* Text color on hover */
  transform:scale(1.01);
}

  /*-----------notification background-----------*/
  .notification-panelS {
    font-family: Arial, sans-serif;
    border-radius: 15px;
    height: 550px;
    width: 1200px;
    margin-right: -100px;
    margin-top: -250px;
    margin-left: 260px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
    
  }
  .notification-panelS:hover{
    transition: transform 0.2s ease; /* Add a separate transition for transform */
    transform: scale(1.01); /* Add a scaling effect on hover */
  } 
  .form-container{
    margin-left: 20px;
    margin-top: -10px;
  }
  .col{ /*---label margin---*/
    margin-top: 10px;
  }
  .col1{ /*---add butoon margin---*/
    margin-bottom: 40px;
  }


  .notification-panelH {
    font-family: Arial, sans-serif;
    border-radius: 15px;
    height: 540px;
    width: 1200px;
    margin-right: 100px;
    margin-top: 40px;
    margin-left: 160px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
    
  }
  .notification-panelH:hover{
    transition: transform 0.2s ease; /* Add a separate transition for transform */
    transform: scale(1.01); /* Add a scaling effect on hover */
  } 
  .form-container{
    margin-left: 20px;
    margin-top: -10px;
  }
  .col{ /*---label margin---*/
    margin-top: 10px;
  }
  .col2{ /*---add butoon margin---*/
    color: red;
  }